body{
    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(64, 64, 64),rgb(0,0,0));

}
.dynamic-dialogbox {
    position: fixed;
    right: 20px;       /* Align to the right */
    bottom: 20px;      /* Stack from the bottom */
    width: 300px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
    margin-top: 5%;
    margin-left: 10%;
    position: relative; /* Allows them to stack naturally if placed in a container */
}

/* Style for the close 'x' */
.close-btn {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

#but button{
    background: #f4f4f4;
    height: 55px;
    width: 55px;
    text-align: center;
    color: #000000;
    font-size: 35px;
    font-family: sans-serif, arial;
    float: left;
    margin-left: 13px;
    margin-top: 3px;

    
    transition: transform 0.3s ease-in;
    border-radius: 20%;    
}

#but button:hover{

    transform: scale(1.02);
    box-shadow:2px 1px 8px rgb(110, 110, 110);
    border-color: red;
    color: rgb(255, 0, 0);
}
#result{
    width:300px;
    height:30px;
    border-style: groove;
    
}
#inp:hover{
    background-color: rgb(159, 159, 159);
    color: rgb(255, 255, 255);
}
h2{
    font-size: xx-large;
    text-align: center;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(255, 250, 103);
}


#but{
    border-style: inset;
    border-color:wheat ;
    justify-self: center;
    text-align: center;
    box-shadow: 4px 4px 1px black;
    height: 310px;
    width: 350px;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.5s ease ;
}
#but:hover{
    background-color: rgb(13, 10, 58);
}
#outline{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */}
#out{
    display: none;
    top: 30%;
    left: 40%;
    position: fixed;
    border-radius: 2%;
    max-width: 200px;
    background-color: #f4f4f4;
    box-shadow: 0px 1px 5px black;
    font-size: large;
    padding-right: 10px;
    padding-left: 10px;}
#cls-btn{
    cursor: pointer;
    float: right;
    color: red;}







